$background-primary: #2a2e43;
$backgorund-secondary: #ffffff;
$background-header: #232738e6;

$text-primary: #ffffff;
$text-secondary: #454f63;
$text-tertier: #78849e;

$divider-color: #f4f4f6fd;
$button-color: #665eff;
